body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#1354A5 0%, #041832 100%);
    font-family: 'Inter', sans-serif;
}

.layout {
    display: flex;
    gap: 50px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 15px;
}

button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #16a34a;
    transform: scale(1.05);
}

.content {
    max-width: 400px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
